<%= render 'flash' %>

<article class="episode episode--full">
  <%= content_tag :h1, episode.title, class: 'episode__title' %>
  <%= content_tag :div, episode.description, class: 'episode__description' %>

  <div className="episode__meta">
    <%= l episode.published_at %>
  </div>
</article>

<%= link_to 'Back', episodes_path %>
